/* Tabulator v4.1.4 (c) Oliver Folkerd */
.tabulator {
  position: relative;
  overflow: hidden;
  text-align: left;
}

.tabulator-block-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tabulator-tableHolder:focus {
  outline: none;
}

.tabulator-header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border-top: 1px solid var(--vscode-panel-border);
  border-bottom: 3px solid var(--vscode-panel-border);
  white-space: nowrap;
  overflow: hidden;
}

.tabulator-col {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  border-right: 1px solid var(--vscode-panel-border);
  text-align: left;
  vertical-align: bottom;
  overflow: hidden;
}

.tabulator-col-content {
  box-sizing: border-box;
  position: relative;
  padding: 4px;
}

.tabulator-col-title {
  box-sizing: border-box;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

.tabulator-tableHolder {
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.tabulator-placeholder {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
}

.tabulator-placeholder[tabulator-render-mode="virtual"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.tabulator-placeholder span {
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}

.tabulator-table {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  overflow: visible;
  table-layout: fixed;
  min-width: 100%;
}

.tabulator-col-resize-handle {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
}

.tabulator-col-resize-handle.prev {
  left: 0;
  right: auto;
}

.tabulator-col-resize-handle:hover {
  cursor: ew-resize;
}

.tabulator-row {
  border-bottom: 1px solid var(--vscode-panel-border);
  height: 2em;
}

.tabulator-cell {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding: 4px;
  border-right: 1px solid var(--vscode-panel-border);
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tabulator-col:first-child > .tabulator-col-resize-handle.prev,
.tabulator-cell:first-child > .tabulator-col-resize-handle.prev {
  display: none;
}
